<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Django的模板语法实例</h1>
    {# 模板单行注释 #}
    <a href="{% url 'index' %}">跳转到首页</a>


    <h3>1. 模板中的变量输出</h3>
    <ul>
        <li>{{name}} &nbsp&nbsp{{age}}</li> <!--因为没有age，所以不会显示，但是也不会报错-->
        <li>{{stu.name}}&nbsp{{stu.age}}</li>
        <li>{{a.0}}&nbsp{{a.1}}&nbsp{{a.2}}</li>
    </ul>


    {% comment %}
    多行注释
    {% endcomment %}


    <h3>2. 模板中的标签使用</h3>
    <table width="500" border="1">
        <tr>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>状态</th>
        </tr>
        {% for da in dlist %}
        <tr>
            <td>{{da.name}}</td>
            <td>{% if da.sex == 1 %}男{% else %}女{% endif %}</td>
            <td>{{da.age}}</td>
            <td>
                {% if da.state == 0 %}
                管理员
                {% elif da.state == 1 %}
                VIP账户
                {% else %}
                <span style="color: red;">普通用户</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>


    令牌：{% csrf_token %}


    <h3>3. 模板中的过滤器使用</h3>
    <ul>
        <li>原值：{{name}}</li>     <!--原值-->
        <li>大写：{{name|upper}}</li>   <!--大写-->
        <li>小写：{{name|lower}}</li>   <!--小写-->
        <li>{{time|date:'Y-m-d H:i:s w'}}</li>  <!--时间格式化-->
        <li>{{a|join:":"}}</li>     <!--拼接-->
    </ul>


    <h3>4. 模板中的运算</h3>
    <ul>
        <li>两个数： {{m1}}  {{m2}}</li>
        <li>求和： {{m1|add:m2}}</li>
        <li>求差： {{m1|add:-20}}</li>
        <li>相乘： {% widthratio m1 1 m2 %}</li>   <!--乘法, 等同于（m1 / 1) * m2-->
        <li>相除： {% widthratio m1 m2 1 %}</li>   <!--除法，等同于（m1 / m2) * 1-->
    </ul>
</body>
</html>