<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django的视图层</title>
</head>
<body>
    <h2>Django的视图层</h2>
    
    <ul>
        <li><a href="{% url 'response01' %}">1. 一个简单的视图</a></li>
        <li><a href="{% url 'response02' %}">2. ReponseNotFound</a></li>
        <li><a href="{% url 'response03' %}">3. 重定向到response02</a></li>
        <li><a href="{% url 'response04' %}">4. 重定向到response02</a></li>
        <li><a href="{% url 'response05' %}">5. Json响应</a></li>
        <li><a href="{% url 'response06' %}">6. Cookie的使用</a></li>
        <li><a href="{% url 'response07' %}?name=zhangsan&age=23&id=10">7. 测试request请求对象的使用</a></li>
        <li><a href="{% url 'response08' %}">8. 验证码的输出</a></li>
    </ul>
    <img id="verifycode" src="{% url 'response08' %}" alt="验证码" title="点击刷新"><!--验证码图片-->
</body>
</html>